@use "variables";

body {
  font-family: var(--font-sfPro), sans-serif;
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h3 {
  font-family: var(--font-martinXBold);
  font-style: normal;
  font-weight: 400;
  letter-spacing: .01em;
  text-transform: uppercase;
  margin: 2rem 0;

  @media (max-width: variables.$bp-md) {
    font-size: calc(3 * calc(.012 * min(100vh, 900px)) + 1rem);
  }
}

.heading {
  font-family: var(--font-martinXBold), sans-serif;
  font-size: 18px;

  &.xl {
    font-size: 32px;
  }

  @media (min-width: variables.$bp-md) {
    font-size: 24px;

    &.xl {
      font-size: 42px;
    }
  }
}

.heading-xl {
  font-family: var(--font-sfPro), sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  @media (min-width: variables.$bp-md) {
    font-size: 72px;
  }

  @media (min-width: variables.$bp-lg) {
    font-size: 96px;
  }
}

.heading-l {
  font-family: var(--font-sfPro), sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 80%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.heading-m {
  font-family: var(--font-newsreader), serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 20px;

  @media (min-width: variables.$bp-md) {
    font-size: 28px;
    margin-bottom: 40px;
  }
}

.heading-m2 {
  font-family: var(--font-sfPro), sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 80%;
  letter-spacing: -0.01em;
}

.footer-small {
  line-height: 1.5rem;
  opacity: .92;

  @media (max-width: variables.$bp-md) {
    font-size: calc(0 * calc(.012 * min(100vh, 900px)) + 1rem);
  }
}

footer a {
  text-decoration: underline !important;
}