@use "variables";

body {
  font-family: var(--font-sfPro), sans-serif;
  color: white;
}

nav {
  font-family: var(--font-martinXBold), sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.heading-xl {
  font-family: var(--font-sfPro), sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  @media (min-width: variables.$bp-md) {
    font-size: 72px;
  }

  @media (min-width: variables.$bp-lg) {
    font-size: 96px;
  }
}

.heading-l {
  font-family: var(--font-sfPro), sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 80%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.heading-m {
  font-family: var(--font-newsreader), serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 20px;

  @media (min-width: variables.$bp-md) {
    font-size: 28px;
    margin-bottom: 40px;
  }
}

.heading-m2 {
  font-family: var(--font-sfPro), sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 80%;
  letter-spacing: -0.01em;
}