// LAYOUT
$content-width: 1440px;
$grid-width: 1200px;

// COLORS
$black-1: #000000;
$black-2: #1c1c1c;
$black-3: #656e7b;
$black-4: #313131;
$black-5: #9398a0;
$black-6: #adadad;
$black-7: #f8f8f8;
$white-1: #ffffff;
$white-2: #ebebeb;
$white-3: #e8e7ef;
$purple-1: #8b82da;
$purple-2: #9b8bda;
$purple-3: #8f83ff;
$purple-4: #8075e8;
$purple-5: #8c83da;
$purple-6: #5444ec;
$purple-7: #a99be7;

// BREAKPOINTS
$bp-xs: 375px;
$bp-sm: 425px;
$bp-md: 768px;
$bp-lg: 1100px;
$bp-xl: 1200px;
