@use "variables";

.applied_filters {
  margin: 24px 0;

  .applied_filters-button {
    background: variables.$charc;
    color: variables.$white-1;
    border: solid variables.$white-1 2px;
    padding: 8px 12px;
    border-radius: 33px;
    font-size: 12px;
    margin-right: 6px;
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
    display: inline-flex;
    align-items: center;
  }

    .applied_filters-btn-xIcon {
      margin-left: 4px;
    }
}