@use "variables";


.comment-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(29, 29, 29, 0.75);
  z-index: 9999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-modal-btn {
  background-color: black;
  color: white;
  border: none;
  text-decoration: underline;
}

.comment-modal {
  background-color: black;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: white solid 1px;
  border-radius: 20px;
  padding: 10px;
}

.feedback-form {
  width: 100%;
  display: flex;
  flex-direction: column;

  .form-header {
    color: white;
    margin-bottom: 20px;
    font-size: 30px;
  }

  label {
    color: white;
    margin: 0 0 8px 8px;
    display: inline-block;
  }

  input, textarea {
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 16px;
    border: none;
  }

  .ff-names{
    display: flex;
    justify-content: space-between;

    #firstName, #lastName {
      width: 45%;
    }
  }

  #emailAddy {
    margin-bottom: 16px;
  }

  #subjectLine {
    width: 100%;
    color: white;
    background-color: black;
    border: white solid 2px;
  }

  textarea {
    height: 150px;
    resize: vertical;
  }

  #submit-comment-btn {
    background: none;
    border: white solid 1px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    width: fit-content;
    padding: 8px 16px;
    align-self: end;
  }
}

.close-modal {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  background: none;
  color: white;
  font-size: 24px;
  border: none;
  border: none;
  cursor: pointer;
  transition: transform .2s ease-in-out;
  z-index: 9999;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(.9);
  }

  @media (min-width: variables.$bp-md) {
    right: 80px;
    top: 80px;
    width: 50px;
    height: 50px;
  }

  @media (max-width: variables.$bp-sm) {
    right: 20px;
    top: 20px;
  }
}