@use "variables";

.archive-layout {
  @media (min-width: variables.$bp-md) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 6vw;
  }
}

.comm-archive-title {
  text-align: center;

  @media (min-width: variables.$bp-md) {
    text-align: left;
  }
}

.archive-wrapper {
  text-align: center;
}

.archive-content {
  margin: 20px auto;
  width: 100%;
  display: inline-block;
  text-align: left;

  @media (min-width: variables.$bp-md) {
    margin: 0;
    // padding: ;
  }
}

.cmpt-archive-img {
  max-width: 100%;
}

.archive-filters {
  margin-bottom: 30px;
  display: flex;
  grid-gap: 15px;
  flex-wrap: wrap;

  @media (min-width: variables.$bp-md) {
    flex-wrap: nowrap;
  }
}

.archive-filters__col {
  flex: 1 1 auto;

  @media (min-width: variables.$bp-md) {
    flex: 1 1 auto;
  }

  &.--clear {
      width: 100%;
      display: flex;
      align-items: center;

      @media (min-width: variables.$bp-md) {
        width: auto;
        padding-top: 18px;
      }

      .button-round {
        width: 100%;
        align-self: center;

        @media (min-width: variables.$bp-md) {
            width: auto;
          }
      }
    }
}

.archive-pagination_wrapper {
  margin-top: 50px;
  text-align: center;
}

.archive-search {

}

.archive__search-form {
  display: flex;
  align-items: center;

  .search-field-container {
    position: relative;
    width: 100%;
  }

  .archive__search-field {
    border: solid 1px #313131;
    border-radius: 4px;
    padding: 8px 44px 8px 14px;
    width: 100%;
    height: 100%;
    font-size: 32px;
  }

  #clear-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 10px 15px;
    border-radius: 40px;
    cursor: pointer;
    background-color: #d9d6d6;

    &:hover {
      background-color: variables.$black-6;
    }

    #clear-search-x {
      display: none;
    }
  }
}


.button-round.archive__search-submit {
  margin-left: 20px;
  padding: 14px 36px;

  .search-button-icon {
    display: none;
  }
}

.toggle-clear-ui {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.clear-filters {
  font-size: 14px;
  background: #d9d6d6;

  @media (max-width: variables.$bp-sm) {
    padding: 4px 8px !important;
  }
}

.advanced-search__toggle {
  display: inline;
  width: fit-content;
  background: none;
  color: #fff;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 30px;
}

.advanced-search__toggle-mobile {
  display: none;
}

@media (min-width: variables.$bp-md) {
  .archive-filters {
    justify-content: normal;
  }
}

@media (max-width: variables.$bp-sm) {
  .archive__search-field {
    padding: 8px !important;
    font-size: 16px !important;
  }

  #clear-search {
    padding: 5px !important;
    padding: 5px 10px !important;

    #clear-search-x {
      display: inline !important;
    }

    #clear-search-text {
      display: none;
    }
  }

  .button-round.archive__search-submit {
    padding: 5px;
    margin-left: 7px;

    .search-button-text {
      display: none;
    }

    .search-button-icon {
      display: block;
    }
  }

  .advanced-search__toggle {
    display: none;
    width: fit-content;
    background: none;
    color: #fff;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
  }

  .advanced-search__toggle-mobile {
    display: flex;
    align-items: center;
    width: fit-content;
    background: none;
    color: #fff;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;

    .mobile-filter-icon {
      margin-right: 7px;
    }
  }

  .advanced-search__open {
    display: none;
  }

  #archive-gallery.advanced-search-open {
      position: relative;
      z-index: 10;
      pointer-events: none;
  }
}

.search-results-for {
  margin: 24px 0;
}

@keyframes slidefromleft {
  0% {
    left: -80vw;
  }
  100% {
    left: 0;
  }
}