@use "variables";

.cmpt-banner {
  width: 100%;
  display: inline-block;

  &.--is-light {
    background: variables.$purple-1;
    color: variables.$black-1;
  }

  &.--is-dark {
    background: variables.$black-1;
    color: variables.$white-1;
  }

  &.--is-left {
    clip-path: polygon(0 0, 100% 0%, 100% 84%, 0% 100%);

    @media (max-width: variables.$bp-sm){
      clip-path: none;
    }
  }

  &.--is-right {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 84%);
    text-align: right;
  }

  &.--has-graphic {
    background: variables.$black-1 url('../../../public/images/hero-default.jpg') top center
      no-repeat;
    background-size: 100vw auto;
  }

  &.--is-about {
    background: variables.$black-1 url("../../../public/images/hero-about.jpg") top center no-repeat;
    background-size: 100vw auto;
  }

  &.--is-archive {
    background: variables.$black-1 url("../../../public/images/hero-archive-black-fill.jpg") top center
      no-repeat;
    background-size: 100vw auto;
  }

  &.--is-donate {
    background: variables.$black-1 url("/public/hero-donate.jpg") top center no-repeat;
    background-size: 100vw auto;
  }

  &.--is-leadership {
    background: variables.$black-1 url("/public/hero-leadership.jpg") top center
      no-repeat;
    background-size: 100vw auto;
  }

  &.--is-our-work {
    background: variables.$black-1 url("/public/hero-our-work.jpg") top center
      no-repeat;
    background-size: 100vw auto;
  }
}

.cmpt-banner__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.cmpt-banner__content {
  width: 100%;
  max-width: variables.$grid-width;
  padding: 100px 46px 30px 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @media (min-width: variables.$bp-md) {
      padding: 130px 46px 50px 46px;
    }
}

.banner-subtitle {
  color: white;
  padding-top: 8px;
  border-radius: 5px;
  z-index: 2;
  line-height: 1.3em;

  @media (max-width: variables.$bp-sm) {
    font-size: 14px;
  } 
}

.cmpt-banner__page-donate-cta {
  font-size: 14px;
  margin-top: 15px;
  padding: 5px 10px;
  border: solid 1px #fff;

  @media (min-width: variables.$bp-md) {
    font-size: 18px;
    margin-top: 30px;
    padding: 15px;
  }
}

.cmpt-banner__donate-cta {
  background: variables.$purple-3;
  border-radius: 4px;
  padding: 12px 18px;
  color: #fff;
  font-size: 18px;
  margin-top: 15px;
  border: none;
  cursor: pointer;

  @media (min-width: variables.$bp-md) {
    padding: 16px 24px;
    font-size: 20px;
    margin-top: 35px;
  }

  &:hover {
    opacity: 0.8;
  }
}

.page-banner {
  .global-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 80%;
        background: linear-gradient(0.25turn, #000000, transparent);
      }
  }

    .page-banner__header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    .heading-xl {
      z-index: 2;
    }
}
