@import "variables";

.button-round, a.button-round {
    align-self: flex-start;
    padding: 10px 30px;
    border-radius: 33px;
    border: solid 1px transparent;
    background: $white-1;
    color: $black-1;
    cursor: pointer;
    display: inline-block;

    &.sml {
        // Small variant
        padding: 5px 15px;
        font-size: 12px;
    }

    &:not(:disabled):hover {
        background: $white-2;
    }

    &:focus {
        outline: none;
        border: solid 1px $purple-1;
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    &.--secondary {
        background: $purple-3;
        color: $white-1;
        font-size: 13px;
        padding: 10px 16px;

        &:hover {
            background: $purple-4;
        }
    }
}

.admin-table-button {
    border: none;
    outline: none;
    background: none;
    color: $purple-1;
    cursor: pointer;

    &:hover, &:focus {
        text-decoration: underline;
    }
}

.table-header-button {
    border: none !important;
    outline: none !important;
    background: none !important;
    color: $purple-1 !important;
    cursor: pointer !important;
    font-weight: normal !important;

    &:hover, &:focus {
        text-decoration: underline !important;
    }
}