@use "variables";

.cmpt-drawer {
    margin-bottom: 30px;

    .button-scroll {
        max-height: 155px;
        overflow: auto;
    }
    .button-scroll::-webkit-scrollbar {
        width: 12px;
        border-radius: 8px;
    }
    .button-scroll::-webkit-scrollbar-track {
        background: variables.$white-1;
        border-radius: 10px;
    }
    .button-scroll::-webkit-scrollbar-thumb {
        background: variables.$black-6;
        border: 2px solid variables.$white-1;
        border-radius: 8px;
    }
    .button-scroll::-webkit-scrollbar-thumb:hover {
        background: #757575;
    }

    .cmpt-drawer-separator {
        display: none;
    }
}

.show-all-drawerBtns {
    text-decoration: underline;
    margin: 8px 0;
    color: white;
}

.archive__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    color: white;
}
.cmpt-drawer {
    margin-bottom: 8px;

    .button-scroll {
        display: none;
    }

    .button-scroll.open-drawer {
        display: block;
        // max-height: none;
    }

    .cmpt-drawer-separator {
        display: block;
        background: variables.$black-3;
        height: 1px;
    }
}

@media (min-width: variables.$bp-md) {
    .button-scroll.open-drawer {
        max-height: 400px;
    }
}