@use "variables";

.cmpt-drawer-button {
    background: variables.$black-1;
    color: variables.$white-1;
    border: solid variables.$white-1 2px;
    padding: 10px 14px;
    border-radius: 33px;
    font-size: 12px;
    margin-right: 6px;
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
    display: inline-flex;
    align-items: center;

    &:hover {
        background: variables.$white-2;
    }

    &.active {
        background: variables.$white-1;
        color: variables.$black-1;
    }

    .drawer-btn-xIcon {

    }

    .cmpt-btn-label {
        margin-left: 4px;
    }
}

@media (max-width: variables.$bp-sm) {
    .cmpt-drawer-button {
        font-size: 14px;
    }
}