@use "variables";

.cmpt-drawer {
    margin-bottom: 30px;

    .button-scroll {
        max-height: 155px;
        overflow: auto;
    }
    .button-scroll::-webkit-scrollbar {
        width: 12px;
        border-radius: 8px;
    }
    .button-scroll::-webkit-scrollbar-track {
        background: variables.$white-1;
        border-radius: 10px;
    }
    .button-scroll::-webkit-scrollbar-thumb {
        background: variables.$black-6;
        border: 2px solid variables.$white-1;
        border-radius: 8px;
    }
    .button-scroll::-webkit-scrollbar-thumb:hover {
        background: #757575;
    }

    .cmpt-drawer-separator {
        display: none;
    }
}

@media (max-width: variables.$bp-sm) {
    .archive__label {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .cmpt-drawer {
        margin-bottom: 8px;

        .button-scroll {
            display: none;
        }

        .button-scroll.open-drawer {
            display: block;
            max-height: none;
        }

        .cmpt-drawer-separator {
            display: block;
            background: variables.$black-3;
            height: 1px;
        }
    }
}