@use "variables";

.cmpt-footer {
  padding-top: 40px;
  padding-bottom: 20px;
  background: variables.$white-3;
  color: variables.$black-1;

  @media (min-width: variables.$bp-md) {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  .global-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: variables.$bp-md) {
      flex-direction: row;
    }
  }
}

.cmpt-footer__left {
  font-size: 16px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  order: 2;

  @media (min-width: variables.$bp-md) {
    font-size: 24px;
    order: 0;
  }

  .cmpt-footer__copy {
    display: block;

    @media (min-width: variables.$bp-md) {
      display: none;
    }
  }
}

.cmpt-footer__right {
  .cmpt-footer__copy {
    display: none;

    @media (min-width: variables.$bp-md) {
      display: block;
    }
  }
}

.cmpt-footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;

  @media (min-width: variables.$bp-md) {
    font-size: 36px;
    margin-bottom: 80px;
  }

  li {
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;

      a {
        color: variables.$purple-6;
      }
    }
    @media (min-width: variables.$bp-sm){
      margin-bottom: 20px;
    }
  }
}

.cmpt-footer__copy {
  font-size: 12px;
}

.cmpt-footer__social {
  margin-top: 40px;
  margin-bottom: 10px;

  @media (min-width: variables.$bp-md) {
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    margin-right: 20px;

    img {
      width: 24px;
    }
  }
}

.cmpt-footer__byline {
  display: none;

  @media (min-width: variables.$bp-md) {
    display: block;
  }
}

.cmpt-footer__contact {
  margin-top: 12px;
  font-size: 16px;
  color: #606060;
}
