@use "variables";

footer {
 margin-top: auto;
 position: relative;
}

.footer-wrapper {
  padding: 3.3vmax 0;
}

.footer-grid-maker {
  --grid-gutter: calc(6vw - 11px );
  --cell-max-width: calc(1600px - (11px * (8 - 1)) / 8);
  display: grid;
  position: relative;
  grid-template-rows: repeat(20, minmax(24px, auto));
  grid-template-columns: minmax(var(--grid-gutter), 1fr) repeat(8, minmax(0, var(--cell-max-width))) minmax(var(--grid-gutter), 1fr);
  row-gap: 11px;
  column-gap: 11px;
  overflow-x: clip;

  @media (min-width: variables.$bp-md) {
    --cell-max-width: calc(1600px - (11px * (24 - 1)) / 24);
    --inset-padding: 0vw;
    --row-height-scaling-factor: .0215;
    --container-width: min(3vw, calc(100vw - 3vw * 2 - var(--inset-padding) ));
    grid-template-rows: repeat(22,minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
    grid-template-columns: minmax(var(--grid-gutter), 1fr) repeat(24, minmax(0, var(--cell-max-width))) minmax(var(--grid-gutter), 1fr);
  }
}

.line-block {
  grid-area: 4/2/5/10;

  @media (min-width: variables.$bp-md) {
    grid-area: 8/2/9/26;
  }
}

.horizontal-line {
  justify-content: center;

  hr {
    background-color: hsla(0, 0%, 100%, 1);
    border: none;
    color: #bbb;
    height: 1px;
    box-sizing: content-box;
    width: 100%;
  }
}

.bottom-blocks {
  h3 {
    margin: 0 0 0.75rem 0;
  }
  p {
    margin-bottom: 0;
  }
}

.contact-block {
  grid-area: 11/2/16/6;

  @media (min-width: variables.$bp-md) {
    grid-area: 10/20/15/26;
  }
}

.socials-wrapper {
  margin-top: 1.75rem;
}

.icon-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.social-link {
  margin: 0 18px 0 0;
  width: 32px;
  height: 32px;
  position: relative;

  @media (max-width: variables.$bp-md) {
    width: 24px;
    height: 24px;
  }

  div {
    width: 100%;
    height: 100%;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      opacity: .92;
      transition: opacity 200ms cubic-bezier(.4, 0, .2, 1);
    }

    svg:hover {
      opacity: .65;
    }
  }
}

.archive-block {
  grid-area: 11/6/16/10;

  @media (min-width: variables.$bp-md) {
    grid-area: 10/14/14/20;
  }
}

.explore-block {
  grid-area: 6/6/10/10;

  @media (min-width: variables.$bp-md) {
    grid-area: 10/8/14/14;
  }
}

.support-block {
  grid-area: 6/2/10/6;

  @media (min-width: variables.$bp-md) {
    grid-area: 10/2/15/8;
  }
}

.footer-logo-block {
  grid-column: 2 / -2;
  grid-row: 16 / 20;

  @media (min-width: variables.$bp-md) {
    grid-area: 18/2/23/26;
  }
}

.footer-logo-wrapper {
  width: 100%;
  aspect-ratio: 22.9 / 2.99;
  margin-left: calc(50% - 50vw);
}


.sqs-block {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}