@use "variables";

footer {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 11px;
}

.footer-presentedBy {
  display: flex;
  flex-direction: column;
  align-items: center;

  .footer-logo {
    margin-top: 20px;
    width: 64px;
    height: auto;
  }
}

.footer-newsletter {
  display: none;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 74px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    li{
      margin-top: 20px;
    }

    li:first-of-type {
      margin: 0;
    }
  }
}

.footer-copyright {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  margin-top: 96px;
}