@use "variables";

footer {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 11px;

  @media (min-width: variables.$bp-md) {
    font-size: 16px;
    line-height: 1.7;
    border-top: solid white 2px;
    padding-top: 48px;
  }
}

.footer-info {

  @media (min-width: variables.$bp-md) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.footer-presentedBy {
  display: flex;
  flex-direction: column;
  align-items: center;

  .footer-logo {
    margin-top: 20px;
    width: 64px;
    height: auto;
  }
}

.footer-donate {
  display: none;

  .donate-btn-div {
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
  }

  @media (min-width: variables.$bp-md) {
    display: flex;
    flex-direction: column;
  }
}

.footer-newsletter {
  display: none;

  @media (min-width: variables.$bp-md) {
    display: flex;
    flex-direction: column;

    .signup-btn-div {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: end;
      justify-content: end;
    }
  }
}

.pill-btn {
  border: white solid 1px;
  background: none;
  color: white;
  border-radius: 50px;
  padding: 6px 15px;
  width: fit-content;
  height: fit-content;
  font-size: 18px;
  line-height: 1.15;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 74px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    li{
      margin-top: 20px;
    }

    li:first-of-type {
      margin: 0;
    }
  }

  @media (min-width: variables.$bp-md) {
    margin-top: 0;

    ul {
      align-items: start;

      li {
        margin: 0;
      }
    }
  }
}

.footer-copyright {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  margin-top: 96px;
}