@use "variables";

.--is-leadership {
  .cmpt-text-block {
    @media (max-width: variables.$bp-md) {
      padding: 20px 0;
    }
  }
}

.cmpt-gallery-staff {
  display: flex;
  flex-direction: column;
  padding-top: 80px;

  @media (min-width: variables.$bp-md) {
    flex-direction: row;
    padding-top: 160px;
  }

  .swiper-wrapper {
    padding: 0;
    align-items: flex-start;
  }
}

.cmpt-gallery-staff__wrapper {
  overflow: hidden;
  width: 100%;
}

.cmpt-gallery-staff__heading {
  padding: 0 40px;

  @media (min-width: variables.$bp-md) {
    width: 450px;
    padding: 0;
    padding-left: 120px;
    padding-right: 40px;
  }

  .heading-m {
    color: variables.$black-3;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-container {
  overflow: hidden;

  &:hover {
    cursor: url("/public/cursor-drag.svg") 45 45, grab;
  }
}

.swiper-slide {
  text-align: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cmpt-gallery-staff__item {
  max-width: 350px;
}

.swiper-slide img.cmpt-gallery-staff__item-headshot {
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
}

.cmpt-gallery-staff__item-name {
  margin-top: 28px;
  font-family: var(--font-poppins), sans-serif;
  font-size: 21px;
  font-weight: 400;
  text-align: left;
}

.cmpt-gallery-staff__item-role {
  margin-top: 6px;
  font-family: var(--font-newsreader), serif;
  font-style: italic;
  font-size: 16px;
  text-align: left;
  word-break: break-word;
}

.team-text {
  margin-top: 80px;

  @media (min-width: variables.$bp-md) {
    margin-top: 160px;
  }
}
