@use "variables";

.cmpt-gesture-underline {
  font-family: var(--font-newsreader), serif;
  font-size: 20px;
  line-height: 1.3em;
  color: #000;
  display: inline-block;
  text-align: center;
  position: relative;
  align-self: flex-start;
  cursor: pointer;
  background: none;
  border: none;

  @media (min-width: variables.$bp-md) {
    font-size: 24px;
  }

  &:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    height: 14px;
    width: 120px;
    background: url("/public/gesture-01.svg") center bottom no-repeat;
    background-size: contain;

    @media (min-width: variables.$bp-md) {
      bottom: -24px;
      height: 30px;
      width: 190px;
    }
  }

  &:hover {
    opacity: 0.7;
  }

  &.is-light {
    color: #fff;

    &:after {
      background: url("/public/gesture-01-yellow.svg") center bottom
        no-repeat;
      background-size: contain;
    }
  }

  &.is-donate {
    font-family: var(--font-poppins), sans-serif;
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    color: variables.$purple-3;
    margin-top: 20px;

    @media (min-width: variables.$bp-md) {
      margin-top: 0;
      font-size: 48px;
    }

    &:after {
      width: 170px;
      background: url("/public/gesture-01-purple.svg") center bottom
        no-repeat;
      background-size: contain;

      @media (min-width: variables.$bp-md) {
        width: 330px;
      }
    }
  }

  &.is-small {
    font-size: 18px;
    color: #5444ec;

    &:after {
      bottom: -30px;
      width: 150px;
    }
  }
}

.donate-form {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    height: 14px;
    left: 0;
    bottom: -17px;
    width: 170px;
    background: url("/public/gesture-01-purple.svg") center bottom no-repeat;
    background-size: contain;

    @media (min-width: variables.$bp-md) {
      bottom: -24px;
      height: 30px;
      width: 330px;
    }
  }
}
