@import "variables";

a.cmpt-gesture-circle {
  font-family: "Newsreader", serif;
  font-size: 20px;
  line-height: 1.3em;
  color: #fff;
  display: inline-block;
  text-align: center;
  position: relative;
  align-self: flex-start;

  @media (min-width: $bp-md) {
    font-size: 24px;
  }

  &:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    bottom: -9px;
    width: 170px;
    background: url("/public/gesture-02-purple.svg") center bottom no-repeat;
    background-size: contain;

    @media (min-width: $bp-md) {
      bottom: -14px;
      width: 244px;
    }
  }

  &:hover {
    opacity: 0.7;
  }

  &.is-light {
    &:after {
      background: url("/public/gesture-02-yellow.svg") center bottom
        no-repeat;
      background-size: contain;
    }
  }
}
