@import "variables";

$navbarHeight: 60px;

.global-nav-wrapper {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  z-index: 10;

  @media (max-width: $bp-md) {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    overflow-y: scroll;
    transform: translateX(-100%);
    transition: transform 150ms ease-in-out;
  }

  &.--is-open {
    @media (max-width: $bp-md) {
      transform: translateX(0%);
    }
  }

  &.--is-light {
    color: $black-1;
    border-bottom: solid 1px $black-1;

    .global-nav__links li a.--is-active:after {
      background: $black-1;
    }
  }

  &.--is-dark {
    color: $white-1;
    border-bottom: solid 1px $white-1;

    .global-nav__links li a.--is-active:after {
      background: $white-1;
    }
  }
}

.global-nav {
  width: 100%;
  max-width: 1200px;
  padding: 37px 46px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $bp-md) {
    margin-top: $navbarHeight;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 28px;
  }
}

.global-nav__home-link {
  font-weight: 500;
  margin-right: 30px;

  @media (max-width: $bp-md) {
    display: none;
  }
}

.global-nav__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  @media (max-width: $bp-md) {
    flex-direction: column;
  }

  li {
    margin-right: 30px;

    @media (max-width: $bp-md) {
      margin-bottom: 10px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    a {
      position: relative;

      &.--is-active {
        font-weight: 700;

        &:after {
          content: "";
          width: 1px;
          height: 24px;
          position: absolute;
          bottom: -35px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.global-nav__donate-link {
  @media (min-width: $bp-md) {
    font-weight: 700;
    margin-left: 30px;
    text-transform: uppercase;
  }
}

.mobile-navbar {
  position: relative;
  z-index: 11;
  width: 100%;
  height: $navbarHeight;
  background: $purple-6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  color: #fff;

  @media (min-width: $bp-md) {
    display: none;
  }
}

.mobile-navbar__button {
  width: 40px;
  height: 50%;
  background: none;
  border: none;
  outline: none;
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-left: 10px;

  span {
    width: 100%;
    height: 1px;
    background: #fff;
  }
}

.global-nav__associated {

  .global-nav__associated-link {
    padding-bottom: 10px;
    padding-right: 12px;
    cursor: pointer;
    position: relative;
  }

    .global-nav__associated-arrow {
      position: absolute;
      transform: rotate(90deg);
      right: 0px;
    }

  .sub-menu {
      display: none;
      position: absolute;
      list-style: none;
      margin: 0;
      padding: 10px;
      background: $purple-4;
      box-shadow: 0px 5px 5px 0px $black-1;
      z-index: 10;

      &:hover {
        display: block;
      }

      li {
        padding: 5px 0;
      }
    }

    &:hover {
      .global-nav__associated-arrow {
        top: 3px;
      }

      .sub-menu {
        display: block;
      }
    }
}
