@use "variables";

.map-div {
  width: 100%;
  height: 300px;
  margin-top: .5em;

  .leaflet-container .leaflet-popup-content a {
    color: black;
  }

  .map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    .loc-popup-link {
      color: black;

      &:hover {
        color: #adadad;
      }
    }

    .cluster-marker {
      color: #fff;
      background: variables.$purple-6;
      border-radius: 50%;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 10;
      transition: transform .2s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }

  }

  .map-popout-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
    width: 30px;
    height: 30px;
    padding: 0;
    background-clip: padding-box;
    border: 2px solid #0003;
    margin: 0 10px 10px 0;
    border-radius: 4px;

    .popout-icon-wrapper {
      width: 100%;
      height: 100%;
      background-color: white;
      border-radius: 2px;

      .popout-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 2px;
      }
    }

  }
}


