@use "variables";

.media-carousel {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &.fullscreen {
    pointer-events: none;
    touch-action: none;
  }

  .carousel-ctrls {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;

    .media-carousel-btn {
      width: 42px;
      height: 42px;
      cursor: pointer;
      transition: transform .2s ease-in-out;
      background-color: white;
      border: none;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(.9);
      }
    }
  }

  @media (min-width: variables.$bp-lg) {
    padding: 20;
    order: 2;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 10fr 1fr;

    .carousel-ctrls {
      margin-top: 0px;
      flex-direction: column;
      justify-self: center;
      align-self: start;

      .media-prev-btn {
        margin-bottom: 10px;
      }
      .media-next-btn {
        margin-top: 10px;
      }
    }
  }
}