@use "variables";

.cmpt-mission-statement {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    line-height: 1.4em;

    font-size: 14px;
    
    @media (min-width: $bp-md) {
        margin-top: 30px;
        font-size: 16px;
    }
}

.cmpt-mission-statement__wrapper {
    @media (min-width: $bp-md) {
        width: 80%;
    }
}