@use "variables";

.mobile-nav {
  background: variables.$charc;
  height: 62px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px white solid;
  padding: 0 15px;

  // toggles hiding for sliding elements
  .hidden {
    opacity: 0 !important;
    cursor: default;
  }

  .not-hidden {
    opacity: 100;
  }

  .fader {
    transition: opacity .2s ease;
  }

  .search-wrapper {
    position: fixed;
    padding: 6vw;

    .mobile-nav-search-btn {
        border: none;
        background: variables.$charc;
        padding: 0;
        height: 30px;
        width: 30px;
        cursor: pointer;
      }

      .mobile-nav-search-icon {
        transform: scaleX(-1);
      }

    .search-opened {
      display: flex;
      position: absolute;
      top: 0;
      width: calc(100vw - 30px);

      .close-search-btn {
        opacity: .8;
        cursor: pointer;
      }

      .mobile-nav-search-form {
        position: relative;
        display: flex;

        input {
          width: 100%;
          border-radius: 8px;
        }

        .mobile-nav-clear-search {
          position: absolute;
          right: 5px;
          height: 100%;
          cursor: pointer;
          background: none;
          border: none;
          padding: 0;
          display: flex;
          align-items: center;
          z-index: 999;
        }
      }
    }
  }

  .nav-logo {
    display: flex;
    height: 37px;
    font-size: 11px;
    line-height: 1;

    .nav-logo-text {
      margin-left: 12px;
      align-content: center;
    }
  }





  .mobile-menu-wrapper {
    position: relative;

    .slide-menu-exit {
      font-family: var(--font-sfPro), sans-serif;
      font-size: 24px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .nav-slide-menu {
      position: absolute;
      right: -15px;
      top: 46px;
      background-color: black;
      width: 100vw;
      z-index: 999;

      .mobile-menu-list {
        list-style: none;
        padding: 0 15px;
        margin: 32px 0 0 0 0;
        font-size: 18px;

        li {
          padding: 15px;
          border-bottom: solid white 2px;
        }
      }

      .mobile-aux-links-div {
        font-size: 14px;

        .mobile-aux-links-list {
          list-style: none;
          padding: 40px 30px;

          li {
            margin-bottom: 12px;
          }


        }
      }
    }
  }

  @media (min-width: variables.$bp-md) {
    display: none;
  }
}

.desktop-nav {
  display: none;

  grid-template-rows: 2fr 1fr;
  width: 100%;
  height: 196px;
  background-color: variables.$charc;
  color: white;
  height: fit-content;

  .nav-banner {
    font-size: 46px;
    padding: 24px 10vw;
    display: flex;
    align-items: center;

    .desktop-nav-logo {
      height: 84px;
      width: auto;
      margin-right: 64px;
    }
  }

  .nav-links {
    font-size: 18px;
    border: solid white 2px;
    padding: 14px 10vw ;
    border-right: none;
    border-left: none;
    display: flex;
    list-style: none;
    align-items: center;

    li {
      margin-right: 3.5vw;
    }

    // li:last-of-type {
    //   margin-left: auto;
    // }
  }

  @media (min-width: variables.$bp-md) {
    display: grid;
  }
}

.slide-menu-underlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  right: -15px;
  top: 46px;
  background-color: #00000045;
  z-index: 998;
}

.amt-header {
  position: fixed;
  width: 100%;
}

.header-content {
  padding: 6vw;
  display: flex;
  justify-content: space-between;
  width: auto;
  position: relative;
  box-sizing: border-box;
  align-items: center;
}

.nav-burger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background: none;
  border: none;
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.burger-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;

}

.inner-burger-box {
  width: 100%;
  height: 100%;
  position: relative;
}

.top-bun {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  content: '';
  width: 100%;
  transition: transform 250ms cubic-bezier(.2, .6, .3, 1), width 250ms cubic-bezier(.2, .6, .3, 1);
  will-change: transform, width;
  height: 1px;
  background-color: white;
  transform: translatey(-5.5px);

  &.burger--active {
    transform: translatex(3.5px) rotate(-135deg);
    width: 28px;
  }
}

.patty {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  content: '';
  width: 100%;
  transition: transform 250ms cubic-bezier(.2, .6, .3, 1), width 250ms cubic-bezier(.2, .6, .3, 1);
  will-change: transform, width;
  transform: scale(0);
  height: 1px;
}

.bottom-bun {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  content: '';
  width: 100%;
  transition: transform 250ms cubic-bezier(.2, .6, .3, 1), width 250ms cubic-bezier(.2, .6, .3, 1);
  will-change: transform, width;
  transform: translatey(5.5px);
  height: 1px;
  background-color: white;

  &.burger--active {
    transform: translatex(3.5px) rotate(135deg);
    width: 28px;
  }
}

.amt-logo-icon {
  background: variables.$charc;
  max-height: 50px;
  width: auto;

  @media (max-width: variables.$bp-md) {
    max-height: 30px;
  }
}