@use "variables";

.show-wrapper {
  display: grid;
  margin-top: 2em;

  @media (min-width: variables.$bp-lg) {
    grid-template-columns: minmax(280px, 1fr) 4fr;
    padding-left: calc(6vw - 11px);
    padding-right: calc(6vw - 11px);
    gap: 5vw;
  }

  .copyright-wrapper {
    padding: 20px;
    margin-top: 20px;

    @media (min-width: variables.$bp-lg) {
      order: 3;
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}