@use "variables";

.show-wrapper {
  display: grid;
  padding: 20px;

  @media (min-width: variables.$bp-lg) {
    grid-template-columns: 1fr 4fr;
    padding: 0 10vw;
    gap: 5vw;
  }

  .copyright-wrapper {
    padding: 20px;
    margin-top: 20px;

    @media (min-width: variables.$bp-lg) {
      order: 3;
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}