@use "variables";

.desktop-sidebar {
  display: none;

  @media (min-width: variables.$bp-md) {
    display: block;
  }
}

.desktop-search {
  display: flex;
  position: relative;

  input {
    border: none;
    border-radius: 10px;
    padding: 0 5px;
    width: 90%;
  }

  .desktop-search-icon {
    transform: scaleX(-1);
    cursor: pointer;
  }

  .desktop-clear-search {
    position: absolute;
    right: 35px;
    height: 100%;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}