@use "variables";

.desktop-sidebar {
  display: none;

  @media (min-width: variables.$bp-md) {
    display: block;

    .desktop-drawer-set {
      display: none;

      &.on-route {
        display: block;
      }
    }
  }
}

.search {
  display: flex;
  position: relative;
  margin-bottom: 2em;
  width: 100%;
  align-items: center;

  input {
    font-family: var(--font-sfPro), sans-serif;
    border: none;
    border-radius: 300px;
    padding: 1em;
    width: 100%;
  }

  .search-icon {
    position: absolute;
    right: 1.1em;
    opacity: .85;
    cursor: pointer;
    height: 22px;
    width: 22px;
  }

  .clear-search {
    position: absolute;
    right: 3.2em;
    height: 100%;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}