@use "variables";

.swiper {
    .swiper-button-next, .swiper-button-prev {
        width: 50px;
        height: 50px;
        background: variables.$purple-6;
        color: #ffffff;
        border-radius: 99px;

        .swiper-navigation-icon {
            height: 20px;
        }

        &:after {
            font-size: 20px;
        }
    }
}


@media (max-width: variables.$bp-sm) {
    .swiper {
        .swiper-button-next, .swiper-button-prev {
            width: 30px;
            height: 30px;

            .swiper-navigation-icon {
                height: 12px;
            }

            &:after {
                font-size: 12px;
            }
        }
    }
}