.tally-container {
  display: inline-block;
  --slot: 1.4em;

  .tile {
    background-color: white;
    color: black;
    display: inline-block;
    height: var(--slot);
    overflow: hidden;
    font-weight: bold;
    margin: 0 .1em;
    padding: 0 .3em;
    border-radius: .2em;

    .digit-container {
      padding: 0;

      .digit {
        height: var(--slot);
        line-height: var(--slot);
      }
    }
  }
}