.tallies {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .4em;

  td:first-of-type {
    text-align: right;
  }

  td:last-of-type {
    text-align: left;
    // line-height: 1.5em;
  }

  span {
    line-height: 1;
  }

  .tally-container {
    display: inline-flex;
    --slot: 1.4em;
    margin-bottom: .5em;

    .tile {
      background-color: white;
      color: black;
      display: inline-block;
      height: var(--slot);
      overflow: hidden;
      font-weight: bold;
      margin: 0 .1em;
      padding: 0 .3em;
      border-radius: .2em;

      .digit-container {
        padding: 0;

        .digit {
          height: var(--slot);
          line-height: var(--slot);
        }
      }
    }
  }
}