@use "variables";

.cmpt-text-block {
  display: flex;
  justify-content: center;

  &.--padding-default {
    padding: 32px 0;
  }
  
  &.--padding-lg {
    padding: 90px 0;

    @media (max-width: variables.$bp-md) {
      padding: 0;
    }

    @media (max-width: variables.$bp-sm) {
      padding: 30px 0 0 0;
    }
  }

  &.--is-light {
    color: variables.$black-2;

    .cmpt-text-block__heading {
      color: variables.$black-3;
    }
  }

  &.--is-dark {
    background: variables.$black-1;
    color: variables.$white-1;

    .cmpt-text-block__heading {
      color: variables.$purple-2;
    }
  }

  &.--is-single-col {
    .cmpt-text-block__left {
      width: 75%; // 9 columns
      font-weight: 300;
    }
  }

  &.--page-desc {
    .cmpt-text-block__left {
      font-size: 18px;
      line-height: 1.8em;
    }
  }
}

.cmpt-text-block__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: variables.$bp-md) {
    flex-direction: row;
  }

  p {
    margin-top: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.cmpt-text-block__left {
  width: 100%;
  font-size: 22px;
  line-height: 1.45em;
  margin-bottom: 20px;
  
  @media (max-width: variables.$bp-sm) {
    font-size: 14px !important;
  }

  @media (min-width: variables.$bp-md) {
    margin-bottom: 0;
    width: 41.66%; // 5 columns
    font-size: 32px;
    line-height: 1.3em;
  }
}

.cmpt-text-block__right {
  width: 100%;
  font-size: 18px;
  line-height: 1.5em;

  @media (min-width: variables.$bp-md) {
    font-size: 24px;
    width: 50%; // 6 columns
  }
}

.--no-right-col {
  .cmpt-text-block__left {
    width: 100%;

    @media (min-width: variables.$bp-md) {
      width: 66.66%; // 8 columns
    }
  }

  .cmpt-text-block__right {
    display: none;
  }
}
