@use "variables";

.page-wrapper {
  &.--is-dark {
    background: variables.$black-1;
    color: variables.$white-1;
  }
}

.global-container {
  width: 100%;
  max-width: variables.$content-width;
  padding: 0 40px;

  @media (min-width: variables.$bp-md) {
    padding: 0 120px;
  }
}
