@use "variables" as v;

.page-wrapper {
  &.--is-dark {
    background: v.$black-1;
    color: v.$white-1;
  }
}

.global-container {
  width: 100%;
  max-width: v.$content-width;
  padding: 0 40px;

  @media (min-width: v.$bp-md) {
    padding: 0 120px;
  }
}
