@use "variables";

.page-wrapper {
  background: variables.$black-1;
  color: variables.$white-1;
  min-height: 100vh;
}

.global-container {
  width: 100%;
  max-width: variables.$content-width;
  padding: 0 40px;

  @media (min-width: variables.$bp-md) {
    padding: 0 120px;
  }
}
