@import "variables";

.cmpt-video {
  text-align: center;

  &.--is-dark {
    background: $black-1;
    color: $white-1;
  }
}

.cmpt-video-wrapper {
  position: relative;
  width: 100%;
}

.cmpt-video-button {
  position: absolute;
  border: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: $purple-3;
  z-index: 1;
  color: $white-1;
  font-size: 14px;
  cursor: pointer;

  @media (min-width: $bp-md) {
    width: 90px;
    height: 90px;
  }

  &:hover {
    background: $purple-4;
  }
}

.--is-playing {
  .cmpt-video-button {
    display: none;
  }

  .cmpt-video-inner {
    display: inline;

    &:hover {
      .cmpt-video-button {
        display: block;
      }
    }
  }
}

.cmpt-video-player {
  width: 100%;
  display: inherit;
}

.cmpt-video__text {
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5em;

  @media (min-width: $bp-md) {
    width: 50%; //6 columns
    margin-top: 60px;
    font-size: 24px;
  }

  h3 {
    font-family: "Newsreader", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 20px;
    color: $black-3;

    @media (min-width: $bp-md) {
      font-size: 28px;
      margin-bottom: 24px;
    }
  }
}
